<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome {{name}}</p>

<a class="btn btn-primary" href="/hospital" role="button">Access Hospitals</a>
<a class="btn btn-primary" href="/rac" role="button">Access RACs</a>
<a class="btn btn-primary" href="activations" role="button">Access Activation Codes</a>
<a class="btn btn-primary" href="/trauma" role="button">Access Trauma</a>

<a href="/user/register" class="btn btn-primary btn-block mb-2"
>Register Another Administrator</a>
<a href="/user/logout" class="btn btn-secondary">Logout</a>