<h1 style="display: inline-block;">Dashboard</h1><a href="/user/logout" class="btn btn-secondary" style=" float: right; border-radius: 20px;">Logout</a>
<div class="nav-bar">
  <a class="nav-btn" href="/hospital" role="button">Hospitals</a>
  <a class="nav-btn" href="/rac" role="button">RACs</a>
  <a class="nav-btn" href="/activations" role="button">Activation Codes</a>
  <a class="nav-btn" href="/trauma" role="button">Traumas</a>
</div>

<p class="">Welcome {{name}}</p>

<a href="/user/register" class="">Register Another Administrator</a>
