<!DOCTYPE html>

<html>

<head>
    <title>STATT App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="http://localhost:3000/style.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body class="bg-info">
<div class="bg-filter" style="display: none;"></div> <!-- this will be our screen focus filter -->
<div class="edit-panel" style="display: none;">
  <div id="header-wrapper">Header Panel</div>
  <div id="table-wrapper">Table Panel<br/><br/><br/>Table Panel<br/><br/><br/>Table Panel</div>
  <div id="footer-wrapper">Footer Panel</div>
</div>

<div class="body-container">
  {{{body}}}
</div>

</body>
<footer>
  <script src="http://localhost:3000/func.js"></script>
</footer>

</html>
