*:focus{
  outline: none;
}

.bg-filter {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: fixed;
}

.body-container{
  margin-left: 5%;
  width: 90%;
  border: 0px solid black;
  border-radius: 25px;
  overflow: none;
  background-color: #fff;
  margin-top: 25px;
  padding:20px;

}

.edit-panel {
  position: fixed;
  margin-left: 25vw;
  margin-top: 10vh;
  width: 50vw;
  height: 80vh;
  background: #dddddd;
  border: 2px solid #ffffff;
  border-radius: 25px;
  z-index: 2;
  overflow: hidden;
}

.edit-panel div{
  display: inline-block;
  width: 100%;
  padding: 0px 5px 0px 5px;
}

#header-wrapper{
  overflow: hidden;
  height: 20%;
}
#table-wrapper{
  height: 70%;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  overflow-y: scroll;
}
#footer-wrapper{
  height: 10%;
}

.ul-container{
  display: inline-block;
  max-height: 100px;
  background-color: #ffffff;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  overflow: hidden;
}

.ul-container:hover{
  border-color: #888;
}

.ul-container ul{
  max-height: 100px;
  overflow-y: scroll;
  font-size: 10pt;
}

.field{
  height: 60px;
  border: 2px solid #f2f2f2;
  border-radius: 16px;
  padding-left: 6px;
  width: 125px;
  resize: none;
}

.large .field{
  height: 100px;
  min-width: 200px;
}

.button-table{
  background-color: rgba(126, 213, 255, 0);
  border: none;
}

.button-table:hover{
  color: #99badd;
}

.button-table:focus{
  outline: none;
}
